mixin videoBlock(video = {})
    .videoBlock
        video.videoBlock__thumbnail(src=video.videoFile, controls=true)
        h4
            a.videoBlock__title(href=routes.videoDetail(video.id))=video.title
        h6.videoBlock__views=video.views